.container {
  display: flex;
  width: 952px;
  margin: 0 auto;
  gap: 12px;
  flex-direction: column;
}

.box {
  display: flex;
 
  width: 952px;
  /*justify-content: space-between;*/
  gap: 12px;
}



.input {
  width: 204px;
  
}

.line {
  display: flex;
  padding-top: 120px;
  gap: 16px;
  justify-content: center;
  
}